<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net46" />
  <package id="DapperExtensions" version="1.6.3" targetFramework="net46" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net46" />
  <package id="MiniProfiler.Integrations" version="2.3.1" targetFramework="net46" />
</packages>