:host ::ng-deep ng2-smart-table thead > tr > th > ng2-st-column-title > div > ng2-smart-table-title > a {
  font-weight: bold;
}

:host ::ng-deep ng2-smart-table thead > tr > th {
  font-weight: bold;
  text-align: center;
}

:host ::ng-deep ng2-smart-table tbody > tr > td > ng2-st-tbody-edit-delete > a > i[class='nb-edit'] {
  color: darkorange;
}

:host ::ng-deep ng2-smart-table tbody > tr > td > ng2-st-tbody-edit-delete > a > i[class='nb-trash'] {
  color: red;
}
