<div class="page-flexbox-wrapper">
  <app-top-bar [userIsLogged]="userIsLogged"></app-top-bar>

  <main>
      <app-login *ngIf="!userIsLogged && !checkingUserCredentials" ></app-login>

      <!-- MOVE TO SpinnerComponent -->
      <div id="loading-circle" *ngIf="checkingUserCredentials">
          <div class="container">
            <div class="row">
              <div class="col l12 offset-l5 m12 offset-m5 s12 offset-s5">
                <div class="preloader-wrapper big active">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="row">
              <div class="col l12 offset-l3 m12 offset-m3 s12 offset-s3">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Checking credentials ... 
              </div>
            </div>
          </div>
      </div>
      <!-- MOVE TO SpinnerComponent -->

      <app-main-content></app-main-content>  
  </main>

  <app-footer-bar></app-footer-bar>
</div>