<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <h2>New password is ready!</h2>
  <br>
  <p style="font-size: 1.5em;">Hi <strong>{{:userFullName}}</strong>, </p>
  <p style="font-size: 1.5em;">As we can see you forgot your password.</p>
  <p style="font-size: 1.5em;">In order to solve this issue we reset your last password.</p>
  <p style="font-size: 1.5em;">Your new password is: <strong>{{:userPassword}}</strong></p>
  <p style="font-size: 1.5em;">You will be able to change it after your first login.</p>
  <p style="font-size: 1.5em;">To login into 'InventApp' platform <a href="{{:inventAppClientUrl}}" target="_blank" rel="noopener">Click here</a></p>
  <br>
  <p style="font-size: 1.5em; font-style: italic; text-decoration: underline;">UciRod - InventApp</p>
</body>
</html>