<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <h2>Report is ready!</h2>
  <br>
  <p style="font-size: 1.5em;">Dear user: <strong>{{:userFullName}}</strong>, </p>
  <p style="font-size: 1.5em;">Your requested report has been created succesfully.</p>
  <p style="font-size: 1.5em;">Check the attachments below.</p>
  <br>
  <p style="font-size: 1.5em; font-style: italic; text-decoration: underline;">UciRod - InventApp</p>
</body>
</html>