<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.AspNet" version="0.2.0" targetFramework="net46" />
  <package id="Hangfire.Core" version="1.7.11" targetFramework="net46" />
  <package id="Hangfire.SqlServer" version="1.7.11" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
  <package id="Unity" version="5.11.1" targetFramework="net46" />
</packages>