<nb-card>
  <nb-card-header>
    Invention Categories
  </nb-card-header>

  <nb-card-body>
    <button nbButton hero shape="round" status="primary" (click)="orchestrateInventionCategoryCreateRequested()">
      Create
    </button>

    <ngx-invention-category-table
      [inventionCategories]="inventionCategories"
      (inventionCategoryEditRequested)="orchestrateInventionCategoryEditRequested($event)"
      (inventionCategoryDeleteRequested)="orchestrateInventionCategoryDeleteRequested($event)">
    </ngx-invention-category-table>
  </nb-card-body>
</nb-card>
