<!--TOP NAVIGATION BAR-->
<nav>
  <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 16px;" >
          <i id="btn-collapse" data-activates="slide-out" class="material-icons">menu</i>
      </a>
  </div>
</nav>
  
<!--LATERAL NAVIGATION BAR-->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="assets/images/abstract.jpg">
            </div>
            <a href="#!name"><span class="white-text name">Uciel</span></a>
            <a href="#!email"><span class="white-text email">uciel@gmail.com</span></a>
        </div>
    </li>

    <li>
        <a class="waves-effect" routerLink="/products">
            <i data-activates="slide-out" class="material-icons">card_giftcard</i> Products
        </a>
    </li>

    <li><div class="divider"></div></li>

    <li>
        <a class="waves-effect" routerLink="/clients">
            <i data-activates="slide-out" class="material-icons">child_care</i> Clients
        </a>
    </li>
</ul>